@tailwind base;
@tailwind components;
@tailwind utilities;

.animation-pulse {
  animation: pulse 0.5s ease-in-out 2;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}